@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}
.logo {
    width: 110px;
    height: 100px;
    margin: 0 auto;
    display: block;
    margin-top: 40px;
}
body {
    background-image: url('../../assets/landing-page-bg.webp');
    background-position: center;
    background-size: cover;
}
.btn-style {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    background-color: #3a89ff;
    padding: 20px 50px;
    border-radius: 44px;
    font-size: 18px;
    width: 254px;
    text-align: center;
}

.btn-style:hover {
    background-color: #5799fb;
}
.landing {
    background-image: url('./assets/landing-page-bg.webp');
    background-position: center;
    background-size: cover;
}