/*Product BEGINING*/
.product-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: last baseline;
    flex-direction: column;
}
.price-tag-product {
    text-align: center;
    width: 140px;
    height: 140px;
    padding: 10px;
    background: linear-gradient(0deg, rgba(59,141,255,1) 0%, rgba(38,163,240,1) 45%, rgba(9,193,220,1) 100%);
    border-radius: 50% 50% 50% 0;
    position: absolute;
    top: -66px;
    right: -119px;
    color: #fff;
}
.price-tag-product h2 {
    font-weight: bold;
}
.product-btn {
    display: block;
    text-align: center;
    width: 70%;
}
.product-item a {
    position: relative;
    transition: transform 2s ease;
  
}
.product-item a:hover {
    transform: rotate(-18deg);
    transition: transform 2s ease;
}
.product-item a:hover::before{
    content: '';
    position: absolute;
    background: linear-gradient(0deg, rgba(59,141,255,1) 0%, rgba(38,163,240,1) 45%, rgba(9,193,220,1) 100%);
    width: 120%;
    height: 85%;
    left: -10px; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    border-radius: 50px;
    z-index: -1;
    transform: rotate(351deg);
}
.company-logos{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}
.company-logos img {
    width: 92.5px;
    object-fit: contain;
    aspect-ratio: 2/1;
}
/*Product ENDING*/